.footer {
    width: 100%;
    flex-shrink: 0;
    margin-top: 40px;
}

.container__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--color-light-white);
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.logo__footer {
    height: 70px;
    width: 100px;
    border: 1px solid #000000;
    text-align: center;
}

.copy__text {
    color: var(--color-gray);
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .footer {
        width: 100%;
    }

    .container__footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        border-top: 1px solid var(--color-light-white);
    }

    .logo__footer {
        width: 3.5rem;
        height: auto;
        border: 1px solid #000000;
        text-align: center;
        margin-left: 0;
    }

    .socialmedia__footer {
        margin-right: 0;
        display: flex;
    }
}