.about {
    position: absolute;
    width: 1000px;
    margin-top: 150px ;
}
.about__title {
    width: 800px;
    text-align: center;
    line-height: 57px;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items:center;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.picture {
    border-radius: 8px;
    filter: grayscale(1);
}
.about__text {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom:40px ;
    color: var(--color-darken-gray);
    line-height: 30px;
}
.pic__desc {
    font-style: italic;
    color: var(--color-light-gray);
    text-align: center;
    margin-top: 5px;
}
.icons {
    text-decoration: none;
    color: var(--color-lighter-gray);
    margin: 10px
}
.socialmedia {
    margin-left: 90px;
    margin-right: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.about__page {
    position: absolute;
    width: 800px;
    margin-top: 150px ;
}
.works {
    position: absolute;
    width: 800px;
    margin-top: 550px ;
}
.studies {
    position: absolute;
    width: 800px;
    margin-top: 700px ;
}
.jobs {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.company {
    color: var(--color-darken-gray);
    font-weight: 600;
}
.position {
    color: var(--color-light-gray);
    font-weight: 400;
}

@media only screen and (max-width:480px) {
    .about {
        position: absolute;
        width: 100%;
        margin-top: 150px ;
    }
    .about__title {
        width: 100%;
        text-align: center;
        line-height: 57px;
        font-size: 44px;
        font-style: normal;
        font-weight: 600;
        display: flex;
        align-items:center;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .picture {
        border-radius: 8px;
        filter: grayscale(1);
        width: 100%;
    }
    .socialmedia {
        margin-left: 0px;
        margin-right: 0px;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .about__page {
        position: absolute;
        width: 100%;
        margin-top: 150px ;
    }
    .about__text {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom:40px ;
        color: var(--color-darken-gray);
        line-height: 30px;
    }
    .works {
        position: absolute;
        width: 95%;
        margin-top: 900px ;
    }
    .studies {
        position: absolute;
        width: 95%;
        margin-top: 1100px ;
    }
    .company {
        width: 100%;
        color: var(--color-darken-gray);
        font-weight: 600;
    }
   .jobs {
       display: inline-block;
   }
}