.projects {
    position: absolute;
    width: 800px;
    height: 470px;
    margin-top: 1350px;
}
.projects__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
    margin-bottom: 20px;
}
.project__text {
    font-size: 18px;
    line-height: 23.4px;
}
.container__project {
    background: #FAFAFA;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    width: 800px;
    padding: 30px 30px;
    margin-top: 20px;
}
.projects__example {
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
}
.prod__text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom:40px ;
    color: var(--color-darken-gray);
    line-height: 30px;
}
.logo__pet {
    margin-top: 15px;
    margin-left: -5px;
    margin-bottom: -5px;
}
.logo__crieflix {
    margin-top: 15px;
    margin-bottom: 5px;
}
.projects__h1 {
    width: 800px;
    height: 57px;
    text-align: center;
    line-height: 57px;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items:center;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.projects__page {
    position: absolute;
    width: 800px;
    margin-top: 150px;
}
.projects__text {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom:40px ;
    color: var(--color-darken-gray);
    line-height: 30px;
    font-weight: 400;
}
.picture__project {
    border-radius: 8px;
    width: 1000px;
    height: 380px;
    object-fit: cover;
    object-position: top;
}
.project__description {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: var(--color-darken-gray);
    line-height: 30px;
}
.project__desc__container {
   position: absolute;
   margin-top: -40px;
}
.projects__title__1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
}
.project__example {
    display: flex;
    justify-content: center;
    height: 465px;
    border: 5px;
    border-color: gray;
}
.project__example__2 {
    display:flex;
    justify-content: center;
    height: 465px;
    margin-top: 200px;
}
.project__desc__container__1 {
    position: absolute;
    margin-top: -40px;
}
.projects__links {
    text-decoration: none;
}
.projects__links:visited {
    color: var(--color-black);
}

@media only screen and (max-width:480px) {
    .projects {
        position: absolute;
        width: 90%;
        height: 470px;
        margin-top: 1200px;
    }
    .projects__title {
        text-align: center;
    }
    .container__project {
        background: #FAFAFA;
        border: 1px solid #EAEAEA;
        border-radius: 8px;
        width: 100%;
        padding: 30px 30px;
        margin-top: 20px;
    }
    .projects__text {
        width: 95%;
    }
    .projects__page {
        width: 100%;
    }
    .projects__h1 {
        width: 100%;
        justify-content: center;
    }
    .picture__project {
        width: 100%;
        height: 180px;
    }
    .project__description {
        width: 95%;
        object-fit: cover;
        object-position: top;
    }
    .project__example {
        display: flex;
        justify-content: center;
        height: 250px;
        width: 100%;
    }
    .project__example__2 {
        display:flex;
        justify-content: center;
        height: 250px;
        margin-top: 300px;
        width: 100%;
    }
    .project__desc__container__1 {
        position: absolute;
        margin-top: -40px;
        margin-bottom: -100px;
    }
}