:root {
    --color-pink: #EA4C89;
    --color-purple: #8F48EB;
    --color-blue: #1DA1F2;
    --color-yellow: #E39600;
    --color-black: #111111;
    --color-light-black: #242424;
    --color-darken-gray: #363636;  
    --color-gray: #5B5B5B;
    --color-light-gray: #6C6C6C;
    --color-lighter-gray: #9D9D9D;
    --color-dark-white: #D9D9D9;
    --color-light-white: #EAEAEA;
    --color-medium-white: #F6F6F6;
    --color-white: #FFFFFF;
    
    --font-family-ibm: 'IBM Plex Mono';
    --font-size-default: 15px;

    --font-family-primary: var(--font-family-ibm);
}